@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Righteous&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  padding: 10px;
}

h1,
h2,
h3 {
  font-family: 'Righteous', sans-serif;
}

/*
 * style red range
 */
.range-red input[type='range']::-webkit-slider-thumb {
  background-color: #f44336;
}
.range-red input[type='range']::-moz-range-thumb {
  background-color: #f44336;
}
.range-red input[type='range']::-ms-thumb {
  background-color: #f44336;
}
.range-red input[type='range'] + .thumb {
  background-color: #f44336;
}

/*
   * style green range
   */
.range-green input[type='range']::-webkit-slider-thumb {
  background-color: #4caf50;
}
.range-green input[type='range']::-moz-range-thumb {
  background-color: #4caf50;
}
.range-green input[type='range']::-ms-thumb {
  background-color: #4caf50;
}
.range-green input[type='range'] + .thumb {
  background-color: #4caf50;
}

/*
 * style green range
 */
.range-blue input[type='range']::-webkit-slider-thumb {
  background-color: #2196f3;
}
.range-blue input[type='range']::-moz-range-thumb {
  background-color: #2196f3;
}
.range-blue input[type='range']::-ms-thumb {
  background-color: #2196f3;
}
.range-blue input[type='range'] + .thumb {
  background-color: #2196f3;
}

.color-box {
  border-radius: 5px;
  min-height: 100px !important;
}
