ul,
li {
  list-style-type: none;
}

.clickable {
  cursor: pointer;
}

.deleteButton {
  color: white;
  height: 30px;
  width: 30px;
  font-weight: bold;
  background-color: darkred;
  margin-right: 10px;
  border-radius: 50%;
}
