@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Orbitron:wght@400;700&display=swap');

body {
  font: 400 14px 'Montserrat', sans-serif;
  padding: 10px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
}

img {
  width: 50px;
  height: 50px;
  margin: 0 10px;

  border-radius: 50%;
}

.country-container {
  display: flex;
}

.country {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add {
  border-radius: 50%;
  background-color: darkgreen;
  color: white;
  font-weight: bold;
}

.countries-list,
.favorites-list {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 0 10px;
}
