body {
  padding: 10px;
}

img {
  width: 50px;
  height: 50px;
  margin: 0 10px;

  border-radius: 50%;
}

.country-container {
  display: flex;
}

.country {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add {
  border-radius: 50%;
  background-color: darkgreen;
  color: white;
  font-weight: bold;
}

.countries-list,
.favorites-list {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 0 10px;
}
