@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Orbitron:wght@400;700&display=swap');

body {
  font: 400 14px 'Montserrat', sans-serif;
  padding: 10px;
}

h1 {
  font-family: 'Orbitron', sans-serif;
}

ul,
li {
  list-style-type: none;
}

.clickable {
  cursor: pointer;
}

.deleteButton {
  color: white;
  height: 30px;
  width: 30px;
  font-weight: bold;
  background-color: darkred;
  margin-right: 10px;
  border-radius: 50%;
}
