@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&family=Raleway:wght@400;700&display=swap');

body {
  font: 400 14px 'Raleway', sans-serif;
  padding: 10px;
}

h1 {
  font-family: 'Rajdhani', sans-serif;
}

h4 {
  margin: 20px 0;
  font-family: 'Rajdhani', sans-serif;
}

img {
  width: 50px;
  height: 50px;
  margin: 0 10px;

  border-radius: 50%;
}

/* label color */
.input-field label {
  color: #607d8b !important;
}
/* label focus color */
.input-field input[type='text']:focus + label {
  color: #607d8b !important;
}
/* label underline focus color */
.input-field input[type='text']:focus {
  border-bottom: 1px solid #607d8b !important;
  box-shadow: 0 1px 0 0 #607d8b !important;
}
/* valid color */
.input-field input[type='text'].valid {
  border-bottom: 1px solid #607d8b !important;
  box-shadow: 0 1px 0 0 #607d8b !important;
}
/* invalid color */
.input-field input[type='text'].invalid {
  border-bottom: 1px solid #607d8b !important;
  box-shadow: 0 1px 0 0 #607d8b !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #607d8b !important;
}

.results-box {
  border-radius: 5px;
  padding: 5px 15px 15px 15px !important;
  min-height: 150px !important;
}

.found-users {
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}
