/* Materialize colors */

/* label color */
.input-field label {
  color: #3f51b5 !important;
}
/* label focus color */
.input-field input[type='text']:focus + label {
  color: #3f51b5 !important;
}
/* label underline focus color */
.input-field input[type='text']:focus {
  border-bottom: 1px solid #3f51b5 !important;
  box-shadow: 0 1px 0 0 #3f51b5 !important;
}
/* valid color */
.input-field input[type='text'].valid {
  border-bottom: 1px solid #3f51b5 !important;
  box-shadow: 0 1px 0 0 #3f51b5 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #3f51b5 !important;
}

.progress {
  height: 20px !important;
}
